<nav>
    <div class="logo">
        <h4
            style="font-family: 'Lavishly Yours', cursive; margin:0; padding:0; line-height: 1; color: var(--primary-color)">
            Simple World
        </h4>
        <small style="margin-left:var(--space-10); margin-top: 0; padding:0; font-size: 0.75rem;"> by
            AKMaily</small>
    </div>
    <ul>
        <li><a class="primary">Homepage</a></li>
        <li><a class="primary">Projects</a></li>
        <li><a class="primary">Portfolio</a></li>
    </ul>
</nav>